.main-container {
    width: 50%;
    display: flex;
}

#profile-pic {
    text-align: center;
}

#profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.references {
    display: flex;
    justify-content: space-between;
}

.dropdown{
    display: flex;
    justify-content: end;
}

.cadaReferencia{
    display: flex;
    flex-direction: column;
}

.references img {
    width: 100px;
}

ul {
    list-style-type: none;
}
i{
    font-size: 1.2rem;
    color: #7b818e;
}
#socialContact{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
#elementosContact{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:2rem;
    justify-content: center;
}

#iconWsp{
    color: #080105;
    font-size: 1.8rem;
    height: 1.5rem;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 2px rgba(51, 245, 2, 0.459);
    transition: 0.5s;

}
#iconLinkedin{
    color: #080105;
    font-size: 1.8rem;
    height: 1.5rem;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 2px rgba(2, 6, 245, 0.514);
    transition: 0.5s;
}
#iconGithub{
    color: #080105;
    height: 1.5rem;
    border-radius: 15px;
    font-size: 1.8rem;
    box-shadow: 3px 3px 10px 3px rgba(136, 2, 245, 0.459);
    transition: 0.5s;
}

#iconWsp:hover{

    color: rgb(18, 102, 7);
    box-shadow: 3px 3px 10px 3px rgba(250, 250, 250, 0.788);
}
#iconLinkedin:hover{

    color: rgb(21, 58, 219);
    box-shadow: 3px 3px 10px 3px rgba(250, 250, 250, 0.788);
}
#iconGithub:hover{

    color: rgb(105, 47, 153);
    box-shadow: 3px 3px 10px 3px rgba(250, 250, 250, 0.788);
}
h1,
h2 {
    text-transform: uppercase;
}

aside {
    background-color: #7b818e;
    margin-right: 20px;
    padding: 0 20px;
}

aside * {
    color: white;
}

aside h2 {
    letter-spacing: 5px;
}

aside section h2:first-child {
    border-bottom:  3px solid white;
}

main section > h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

dl{
    display: flex;
    flex-wrap: wrap;
}

dt,
dd{
    border-top: 1px solid white;
    line-height: 1.5cm;
    margin: 0;
    flex-basis: 50%;
}

dt {
    font-weight: bolder;
}

meter {
    width: 70%;
}

::-webkit-meter-optimum-value{
    background-color: #b88ba4;
}

meter::-webkit-meter-bar {
    background-color: #131212;
}

/* codigo css minificado  */
/* h1,h2,main section>h2{text-transform:uppercase}aside h2,main section>h2{letter-spacing:5px}.references,dl{display:flex}.main-container{width:1200px;display:flex}#profile-pic{text-align:center}#profile-pic img{width:200px;height:200px;border-radius:50%}.references img{width:100px}ul{list-style-type:none}aside{background-color:#7b818e;margin-right:20px;padding:0 20px}aside *{color:#fff}aside section h2:first-child{border-bottom:3px solid #fff}dl{flex-wrap:wrap}dd,dt{border-top:1px solid #fff;line-height:1.5cm;margin:0;flex-basis:50%}dt{font-weight:bolder}meter{width:80%}::-webkit-meter-optimum-value{background-color:#b88ba4}meter::-webkit-meter-bar{background-color:#131212} */